@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background: #EEF5FF;
}

main{
    margin: 2% 5%;
}

/* HEADER */
header{
    background-color: #C7DEFF;
    padding: 20px 0;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

header h1{
    text-align: center;
    color: rgb(41, 38, 38);
    font-size: 40px;
    font-weight: 700;
}

/* HERO SECTION */
.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
    margin-bottom: 100px;
}

.hero-section .hero-text{
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.hero-section .hero-text h2{
    font-size: 45px;
    font-weight: 400;
    color: #1E1E1E;
}

.hero-section .hero-text p{
    font-size: 14px;
    font-weight: 300;
    color: #1E1E1E;
    margin-bottom: 20px;
}

.hero-section .hero-text a{
    width: 250px;
    padding: 10px 20px;
    background: linear-gradient(90deg, #F9EC7D 0%, #F5B100 100%);
    color: #171414;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.hero-section .hero-text a span{
    background-color: #171414;
    color: #EEF5FF;
    border-radius: 100%;
    padding: 0 10px;
}

.hero-section .hero-image{
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section .hero-image img{
    width: 70%;
}

/* FORM SECTION */
.form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-section .form-text h2{
    text-align: center;
    color: rgb(41, 38, 38);
    font-size: 40px;
    font-weight: 700;
}

.form-section .form-text p{
    text-align: center;
    color: rgb(41, 38, 38);
    font-size: 20px;
    font-weight: 300;
    margin-top: 30px;
}

.form-section form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: #F9EC7D;
    width: 50%;
    border-radius: 20px;
}

.form-section form .form-group{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 16px 20px;
}

.form-section form .form-group label{
    font-size: 20px;
    font-weight: 300;
    color: #171414;
    margin-bottom: 10px;
}

.form-section form .form-group input{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 300;
    color: #171414;
}

.form-section form .form-group button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #171414;
    background-color: #F5B100;
    width: 35%;
}

.form-section form .form-group button:hover{
    background-color: #ffe600;
}

.form-section .hasil{
    width: 20%;
    display: none;
}

.form-section .hasil  h2{
    text-align: center;
    color: rgb(41, 38, 38);
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
}

.form-section .hasil .card-hasil{
    margin-top: 30px;
}

.form-section .hasil .card-hasil .card-text{
    background-color: #C7DEFF;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.form-section .hasil .card-hasil .card-text p{
    font-size: 60px;
    font-weight: 700;
}

.form-section .hasil .card-hasil .card-description{
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.form-section .hasil .card-hasil .card-description p{
    font-size: 40px;
    font-weight: 700;
}

/* FOOTER */
footer{
    background-color: #C7DEFF;
    padding: 14px 0;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px
}